{% extends 'base.html.twig' %}
{% block title %}
    Decompte
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stagiaire/decompte.css') }}">
{% endblock %}

{% block body %}
    <div class="calendar">
        <div class="thu mois"><p>{{ calendar[0] | date('F', "Europe/Paris") }}</p></div>
        <div class="mon jour"><p>Lundi</p></div>
        <div class="tue jour"><p>Mardi</p></div>
        <div class="wed jour"><p>Mercredi</p></div>
        <div class="thu jour"><p>Jeudi</p></div>
        <div class="fri jour"><p>Vendredi</p></div>
        <div class="sat jour"><p>Samedi</p></div>
        <div class="sun jour"><p>Dimanche</p></div>
        {% for c in calendar %}
            <div class="{% if c | date("N") == 1 %}mon1
                        {% elseif c | date("N") == 2 %}tue1
                        {% elseif c | date("N") == 3 %}wed1
                        {% elseif c | date("N") == 4 %}thu1
                        {% elseif c | date("N") == 5 %}fri1
                        {% elseif c | date("N") == 6 %}sat1
                        {% elseif c | date("N") == 7 %}sun1
                        {% endif %}
            ">

                <p>{{ c | date("d", "Europe/Paris") }}</p>
                {% if c | date("N") != 6 and c | date("N") != 7 and date(c) > date() %}

                    <form>
                        <label class="checkbox">
                            <p>Midi</p><input class="checkbox_input" type="checkbox"
                                    {% for m in meals %}
                                        {% if m.date | date == c | date and m.midi == true %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                              onchange="updateMidi('{{ c | date() }}', {{ app.user.id }},this)">
                            <svg class="checkbox_check" width="11"
                                 height="11">
                                <polyline points="9,3 4,8 1,5"></polyline>
                            </svg>
                        </label>
                        <label class="checkbox">
                            <p>Soir</p><input class="checkbox_input" type="checkbox"
                                    {% for m in meals %}
                                        {% if m.date | date == c | date and m.soir == true %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                              onchange="updateSoir('{{ c | date() }}', {{ app.user.id }}, this)">
                            <svg class="checkbox_check" width="11"
                                 height="11">
                                <polyline points="9,3 4,8 1,5"></polyline>
                            </svg>
                        </label>
                    </form>

                {% endif %}
            </div>
            <script src="{{ asset('js/decompte.js') }}"></script>
        {% endfor %}
    </div>

{% endblock %}