{% extends 'base.html.twig' %}
{% block title %}
    Decompte
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ordinaire/decompte.css') }}">
{% endblock %}

{% block body %}
    <div class="calendar">
        <div class="thu mois">{{ calendar[0] | format_datetime(pattern='MMMM',locale='fr') }}</div>
        <div class="mon jour"><p>Lundi</p></div>
        <div class="tue jour"><p>Mardi</p></div>
        <div class="wed jour"><p>Mercredi</p></div>
        <div class="thu jour"><p>Jeudi</p></div>
        <div class="fri jour"><p>Vendredi</p></div>
        <div class="sat jour"><p>Samedi</p></div>
        <div class="sun jour"><p>Dimanche</p></div>
        {% for c in calendar %}
            <div class="{% if c | date("N") == 1 %}mon
                    {% elseif c | date("N") == 2 %}tue
                    {% elseif c | date("N") == 3 %}wed
                    {% elseif c | date("N") == 4 %}thu
                    {% elseif c | date("N") == 5 %}fri
                    {% elseif c | date("N") == 6 %}sat
                    {% elseif c | date("N") == 7 %}sun
                    {% endif %}">
                <p>{{ c | format_datetime(pattern='d', locale='fr') }}</p>
                {% set repasSoir = 0 %}
                {% set repasMidi = 0 %}
                {% for m in meals %}
                    {% if m.date | date() == c | date() and m.midi == true %}
                        {% set repasMidi = repasMidi + 1 %}
                    {% endif %}
                    {% if m.date | date() == c | date() and m.soir == true %}
                        {% set repasSoir = repasSoir + 1 %}
                    {% endif %}
                {% endfor %}
                <div class="repas">
                    <div id="midi">
                        <p>Midi</p> <p class="count">{{ repasMidi }}</p>
                    </div>
                    <div id="soir">
                        <p>Soir</p> <p class="count">{{ repasSoir }}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}