<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="icon" href="{{ asset('media/ico/Marianne.png') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav>
        <ul>
            <li><img src="{{ asset('media/ico/CMFP.png') }}" alt="" width="100px"></li>
            <li><a href="{{ path('main_home') }}">Accueil</a></li>
            <li><a href="{{ path('main_infos') }}">Liens utiles</a></li>
            {% if app.user %}
                {% if is_granted('ROLE_CDS') %}
                    <li><a href="{{ path('sectionHead_home') }}">Decompte Rationnaire</a></li>
                    <li><a href="{{ path('sectionHead_section') }}">Créer une section</a></li>
                    <li><a href="{{ path('app_register') }}">Créer un utilisateur</a></li>
                {% elseif is_granted('ROLE_STAGIAIRE') %}
                    <li><a href="{{ path('stagiaire_home') }}">Decompte Rationnaire</a></li>
                {% elseif is_granted('ROLE_ORDINAIRE') %}
                    <li><a href="{{ path('app_ordinaire') }}">Decompte Rationnaire</a></li>
                {% endif %}
                <li>
                    <a href="{{ path('main_home') }}" class="bonjour">Bonjour {{ app.user.grade }} {{ app.user.name }} {{ app.user.firstname }}</a>
                    <a href="{{ path('app_logout') }}" class="bonjour">Me déconnecter <img
                                src="{{ asset('media/ico/Deconnection.png') }}" alt="Deconnection" width="20px"></a>
                </li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>{% block body %}{% endblock %}</main>
<footer>
    <nav>
        <ul>
            {{ 'now' | date('d/m/Y','Europe/Paris') }}
            <li><a href="">A propos des Développeurs Web & Web Mobile</a></li>
            <li><a href="">Signaler un problème</a></li>
            <li><a href="">Suggérer un plat / menu</a></li>
            <div class="social">
                <li><a href="https://www.facebook.com/defensemobilite"><img src="{{ asset('media/ico/FB.png') }}"
                                                                            alt="Facebook" width="30px"></a></li>
                <li><a href="https://twitter.com/defensemobilite"><img src="{{ asset('media/ico/Twitter.png') }}"
                                                                       alt="Twitter" width="30px"></a></li>
                <li><a href="https://www.youtube.com/channel/UCtM9JA5PIRqTajiwcLpphpA"><img
                                src="{{ asset('media/ico/YouTube.png') }}" alt="Youtube" width="30px"></a></li>
                <li><a href="https://www.instagram.com/defensemobilite/"><img src="{{ asset('media/ico/Insta.png') }}"
                                                                              alt="Instagram" width="30px"></a></li>
            </div>
        </ul>
    </nav>
</footer>
</body>
</html>
