<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('main_home') }}">Accueil</a></li>
            <li><a href="{{ path('main_infos') }}">Liens utiles</a></li>
            {% if app.user %}
                <li><a href="{{ path('stagiaire_home') }}">Decompte Rationnaire</a></li>
                <li><a href="{{ path('main_home') }}">Bonjour {{ app.user.grade}} {{ app.user.name }} </a>
                <li><a href="{{ path('stagiaire_home') }}">Decompte Rationnaire</a></li>
                    <br>
                <a href="{{ path('app_logout') }}"><button>Déconnexion</button></a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>{% block body %}{% endblock %}</main>
<footer>
    <nav>
        <ul>
            {{ 'now' | date('d/m/Y','Europe/Paris') }}
            <li><a href="">A propos des Développeurs Web & Web Mobile</a></li>
            <li><a href="">Signaler un problème</a></li>
            <li><a href="">Suggérer un plat / menu</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
