{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/section_head/index.css') }}">{% endblock %}
{% block title %}Hello SectionHeadController!{% endblock %}

{% block body %}
    <input type="date" id="datePicker" value="{{ 'now' | date('Y-m-d') }}">

    <div class="tableau">
        {% for section in sections %}

            <h3 class="column1">{{ section.name }}</h3>
            <h4 class="column1">Numéro de carte</h4><h4 class="column2">Grade</h4><h4 class="column3">Nom</h4><h4
                class="column4">Prenom</h4><h4 class="column5">Midi de Lundi à Jeudi</h4><h4 class="column6">Soir de Lundi à Jeudi</h4>
            {% for user in users %}
                {% if user.section == section %}
                    <div class="column1"><a href="{{ path('sectionHead_detailstagiaire', {'id': user.id}) }}">{{ user.card }}</a></div>
                    <div class="column2">{{ user.grade }}</div>
                    <div class="column3">{{ user.name }}</div>
                    <div class="column4">{{ user.firstName }}</div>
                    <div class="column5">
                        <input type="checkbox" onchange="addWeekMidi({{ user.id }},this)"></div>
                    <div class="column6">
                        <input type="checkbox" onchange="addWeekSoir({{ user.id }},this)"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <script src="{{ asset('js/decompte.js') }}"></script>
    </div>
{% endblock %}
