{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/section_head/index.css') }}">
{% endblock %}

{% block title %}Decompte rationnaire {% endblock %}

{% block body %}
    <input type="date" id="datePicker" value="{{ 'now' | date('Y-m-d') }}" onchange="uncheck()">

    <div class="tableau">
        {% for section in sections %}

            <h3 class="column1">{{ section.name }}</h3>
            <h4 class="column2">Numéro de carte</h4>
            <h4 class="column3">Grade</h4>
            <h4 class="column4">Nom</h4>
            <h4 class="column5">Prénom</h4>
            <h4 class="column6">MIDI - Du lundi au jeudi</h4>
            <h4 class="column7">Soir de Lundi à Jeudi</h4>
            {% for user in users %}
                {% if user.section == section %}
                    <div class="column2"><a href="{{ path('sectionHead_detailstagiaire', {'id': user.id}) }}">{{ user.card }}</a></div>
                    <div class="column3">{{ user.grade }}</div>
                    <div class="column4">{{ user.name }}</div>
                    <div class="column5">{{ user.firstName }}</div>
                    <div class="column6">
                        <label class="checkbox">
                        <input class="checkbox_input" type="checkbox" onchange="addWeekMidi({{ user.id }},this)">
                            <svg class="checkbox_check" width="11"
                                 height="11">
                                <polyline points="9,3 4,8 1,5"></polyline>
                            </svg>
                        </label>
                    </div>
                    <div class="column7">
                        <label class="checkbox">
                        <input class="checkbox_input" type="checkbox" onchange="addWeekSoir({{ user.id }},this)">
                        <svg class="checkbox_check" width="11"
                             height="11">
                            <polyline points="9,3 4,8 1,5"></polyline>
                        </svg>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <script src="{{ asset('js/decompte.js') }}"></script>
    </div>
{% endblock %}
